.App {
  text-align: center;
}

h1 {
  color: #635f9a;
}
/* Add padding to containers */
.container {
  padding: 16px;
  width: 80%;
  margin: auto;
}

@media only screen and (min-width: 768px) {
  .container {
    width: 33%;
  }
}
